body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-image: url('../src/fondo.jpg');
}

header{
    display: block;
    height: 100px;
    border-bottom: 2px dashed #e0e0e0;
    padding: 0px 20px;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #000, #222);
}

header h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
}

section h2{
    color: #000;
    text-align: center;
    font-size: 30px;
}

header a{
    display: block;
    color:  #fff;
    font-size: 18px;
    width: 100px;
    text-decoration: none;
    transition: all 0.2s;
}

header a:hover{
    text-decoration: underline;
}

section{
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows: 1fr;
}

#ruleta #apuntador{
    width: 0;
    height: 0;
    border-left: 50px solid #8b0000;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(90deg);
    position: relative;
    top: 25px;
    z-index: 2;
}

#ruleta #base{
    width: 40%;
    height: 20px;
    border-radius: 50%;
    background-color: #5d4949;
    position: relative;
    bottom: 10px;
    z-index: 0;
}

#ruleta, #resultados,
#baraja, #carta-seleccionada{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffc4;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;

}

#ruleta{
    grid-row: 1;
    grid-column: 1;
}

#ruleta img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all ease-out 1.3s;
    z-index: 1;
}

#ruleta button#girar:hover,
#carta-seleccionada img:hover{
    transform: scale(1.01);
}

.opciones{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

#ruleta button#girar,
#carta-seleccionada button#sacar-carta,
#reiniciar-baraja,
#revolver-baraja{
    background-color: #07a714;
    padding: 8px;
    margin: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
    border: 2px solid #dfdfdf;
    color: #222;
}

#ruleta button#girar:hover,
#carta-seleccionada button#sacar-carta:hover,
#reiniciar-baraja:hover,
#revolver-baraja:hover{
    background-color: #0ccc1c;
    
}

#resultados{
    grid-row: 1;
    grid-column: 2;
    justify-content: flex-start;
}

#resultados #jugador{
    width: 100px;
    height: 100px;
}

#ruleta img{
    border: 1px solid #000;
}

/* Estilos de la baraja de cartas */
#carta-seleccionada img,
.carta{
    cursor: pointer;
    transition: all 0.5s;
}


#cartas{
    position: absolute;
    width: 180px;
    height: 240px;   
    transform: translate(-40px, 50px); 
}
.carta{
    width: 180px;
    height: 240px;
    background-color: #FEEE02;
    border-radius: 20px;
    border: 3px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 10px;
}

#cartas .carta:nth-child(1){
    transform: translate(10px, -40px);
}
#cartas .carta:nth-child(2){
    
    transform: translate(20px, -30px);
}
#cartas .carta:nth-child(3){
    transform: translate(30px, -20px);
    
}
#cartas .carta:nth-child(n+4){
    transform: translate(40px, -10px);
}

.carta.rojo{
    background-color: #FF3706;
}
.carta.azul{
    background-color: #01C5ED;
}
.carta.amarillo{
    background-color: #FEEE02;
}
.carta.verde{
    background-color: #329D0F;
}

.carta .titulo{
    font-size: 22px;
    font-weight: bolder;
}

.carta .leyenda{
    margin-top: 10px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.carta img{
    width: 90px;
    height: 90px;
}

#pregunta{
    width: 75%;
    text-align: center;
    margin: 30px auto 0px auto;
}
.lienzo{
    width: 180px;
    height: 240px;
}

#cubierta{
    background-color: #000000;
    width: 170px;
    height: 220px;
    z-index: 3;
    position: relative;
    top: 80px;
    left: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#cubierta #pregunta-oculta{
    color: white;
    font-size: 80px;
    font-weight: bolder;
}

.respuestas{
    width: 400px;
    height: 240px;
    border-radius: 30px;
    padding: 5px 30px;
    margin: 0px 20px;
}

.encapsulador{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.numero-pregunta{
    width: 30px;
    height: 30px;
    background: white;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    font-weight: bold;
}

#opciones-respuestas-li li{
    font-size: 14px;
}